/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/sneaker-square-aaad73a613ec.json
/public/storage
/storage/*.key
/vendor
/config/services.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.env
note.md
account_checkout_test.txt